<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup
      name="userSettings"
      type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    >
      <section
        name="KeyboardLanguageIndicator.Properties.Settings"
        type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        allowExeDefinition="MachineToLocalUser"
        requirePermission="false"
      />
    </sectionGroup>
  </configSections>
  <userSettings>
    <KeyboardLanguageIndicator.Properties.Settings>
      <setting name="Position" serializeAs="String">
        <value>BottomCenter</value>
      </setting>
      <setting name="Duration" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Opacity" serializeAs="String">
        <value>0.9</value>
      </setting>
      <setting name="BackgroundColor" serializeAs="String">
        <value>#03fc1c</value>
      </setting>
      <setting name="TextColor" serializeAs="String">
        <value>#fafafa</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>24</value>
      </setting>
      <setting name="IsPersistent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsDarkMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CloseToTray" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MonitorIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LanguageColors" serializeAs="String">
        <value />
      </setting>
      <setting name="CheckForUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastUpdateCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowOnAllMonitors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowOnCursorMonitor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableCursorFollower" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CursorFollowerPersistent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CursorFollowerDuration" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="CursorFollowerOffsetX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CursorFollowerOffsetY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CursorFollowerOpacity" serializeAs="String">
        <value>0.85</value>
      </setting>
    </KeyboardLanguageIndicator.Properties.Settings>
  </userSettings>
</configuration>
